@import 'bourbon';

body,
html {
  background: #ebebeb;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  background-size: cover;
  font-family: 'Helvetica', Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  background: #fff;
  border: 1px dashed #ababab;
  border-radius: 1px;
  margin: 15px;
}

header {
  color: #dc0b0b;
  padding: 30px 40px;

  h1 {
    border-bottom: 1px dashed #dc0b0b;
    display: inline-block;
    font-size: 40px;
    padding: 0 0 15px;
  }

  h2 {
    font-size: 20px;
    padding: 15px 0 0;
    max-width: 450px;
  }

}

.corner-ribbon {
  width: 270px;
  background: #e43;
  position: fixed;
  top: 30px;
  right: -80px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

  &.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }
}


.main {
  padding: 0 20px;
}

ul {
  margin-left: -40px;
}

.polaroids {
  margin-top: 0;
  margin-bottom: 40px;

  li {
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: -2px 4px 5px #ddd;
    display: inline-block;
    list-style: none;
    padding: 13px;
    margin: 15px;
    max-width: 275px;

    img {
      border: 1px solid #eee;
      width: 100%;
    }
  }

  .caption {
    color: #333;
    font-family: 'Pacifico', serif;
    font-size: 24px;
    padding: 5px 0;
    text-align: center;
  }
}
